{:paths ["src" "resources"]
 :deps { ;; clj
        org.clojure/clojure {:mvn/version "1.11.3"}

        ;; using older ring because it conflicts with figwheel
        ;; todo: change figwheel to shadow-cljs
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-jetty-adapter {:mvn/version "1.10.0"}
        metosin/reitit-ring {:mvn/version "0.7.1"}
        metosin/reitit-middleware {:mvn/version "0.7.1"}
        integrant/integrant {:mvn/version "0.10.0"}

        ;; cljs
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        cider/piggieback {:mvn/version "0.5.3"}
        cjohansen/dumdom {:mvn/version "2024.04.02"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]}}}
