{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.3"}
        org.clojure/clojurescript {:mvn/version "1.11.132"}
        com.bhauman/figwheel-main {:mvn/version "0.2.18"}
        cider/piggieback {:mvn/version "0.5.3"}
        cjohansen/dumdom {:mvn/version "2024.04.02"}}
 :aliases
 {:dev {:extra-paths ["dev" "test"]}}}
