^{:watch-dirs ["src" "dev" "test"]}
{:main cloudberry.dev
 :optimizations :none
 :pretty-print true
 :source-map true
 :asset-path "/js/compiled/dev"
 :output-to "resources/public/js/compiled/app.js"
 :output-dir "resources/public/js/compiled/dev"}
