;; shadow-cljs configuration
{:source-paths ["src" "dev"]
 :dependencies [[cjohansen/dumdom "2024.04.02"]
                [cljs-http "0.1.48"]]
 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :devtools {:reload-strategy :full}
                :modules {:main {:init-fn cloudberry.front.core/init!}}}}
 :dev-http {4000 "resources/public"}}
